<div class="cart-item" *ngFor="let item of cartItems">
  <img [src]="item.imageUrl" alt="{{ item.name }}" class="item-image" />
  <div class="item-details">
    <h3 class="item-name">{{ item.name }}</h3>
    <p class="item-description">{{ item.description }}</p> <!-- Descripción del producto -->
    <div class="quantity-controls">
      <button (click)="decreaseQuantity(item)">-</button>
      <span class="item-quantity">{{ item.quantity }}</span>
      <button (click)="increaseQuantity(item)">+</button>
    </div>
    <div class="item-actions">
      <button (click)="addToWishlist(item)" class="wishlist-button" aria-label="Añadir a la lista de deseos">
        <i class="fa fa-heart"></i>
      </button>
      <button (click)="removeFromCart(item)" class="remove-button" aria-label="Eliminar del carrito">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
