<div class="cart-container">
  <div class="cart-items-summary">
    <div class="cart-items">
      <div class="cart-item" *ngFor="let item of cartItems">
        <img [src]="item.imageUrl" alt="{{ item.name }}" class="item-image" />
        <div class="item-details">
          <h3 class="item-name">{{ item.name }}</h3>
          <p class="item-description">{{ item.description }}</p>
          <p class="item-price">Precio: {{ item.price | currency }}</p>
          <div class="quantity-controls">
            <button (click)="decreaseQuantity(item)">-</button>
            <span class="item-quantity">{{ item.quantity }}</span>
            <button (click)="increaseQuantity(item)">+</button>
          </div>
          <div class="item-actions">
            <button (click)="addToWishlist(item)" class="wishlist-button" aria-label="Añadir a la lista de deseos">
              <i class="fa fa-heart"></i>
            </button>
            <button (click)="removeFromCart(item)" class="remove-button" aria-label="Eliminar del carrito">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Subtotal and Pay Button -->
    <div class="cart-summary">
      <div class="cart-subtotal">
        <p>Subtotal: {{ calculateSubtotal() | currency }}</p>
      </div>
      <!-- (click)="handlePayment()"-->
      <button class="pay-button"  >Pagar</button>
    </div>
  </div>

  <div class="cart-suggestions">
    <h2>Sugerencias para ti</h2>
    <div class="suggested-item" *ngFor="let suggestion of suggestions">
      <img [src]="suggestion.imageUrl" alt="{{ suggestion.name }}" class="suggestion-image" />
      <h3>{{ suggestion.name }}</h3>
      <p>{{ suggestion.price | currency }}</p>
      <button (click)="addToCart(suggestion)">Agregar al carrito</button>
    </div>
  </div>
</div>
