.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-items-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-items {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.cart-summary {
  width: 25%;
  margin-left: 20px;
  text-align: right;
}

.cart-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}

.item-image {
  max-width: 100px;
  height: auto;
  margin-right: 15px;
}

.item-details {
  flex-grow: 1;
}

.item-name {
  font-size: 18px;
  margin: 0 0 10px;
}

.item-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.item-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.quantity-controls {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-quantity {
  margin: 0 10px;
  font-weight: bold;
}

.item-actions {
  display: flex;
  gap: 10px;
}

.wishlist-button,
.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.wishlist-button:hover,
.remove-button:hover {
  color: red;
}

.cart-subtotal {
  font-size: 24px;
  font-weight: bold;
}

.pay-button {
  background-color: #ffd700; /* Amarillo */
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%; /* Ocupa el ancho completo */
  text-align: center;
}

.pay-button:hover {
  background-color: #ffbf00; /* Un amarillo un poco más oscuro */
}

.cart-suggestions {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
}

.suggested-item {
  display: inline-block;
  width: 150px;
  margin: 10px;
  text-align: center;
}

.suggestion-image {
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.cart-suggestions h2 {
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
}

.cart-suggestions button {
  background-color: #ffd700;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
