<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<p-toolbar class="layout-topbar">
  <div class="p-toolbar-group-start">
    <span class="title">MFE-CARRITO</span>
  </div>

  <div class="p-toolbar-group-end">
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input pInputText type="text" placeholder="Search" />
    </span>

    <div class="buttons">
      <p-button icon="material-icons shopping_cart" styleClass="p-button-rounded p-button-secondary">
    <span class="material-icons">
      shopping_cart
    </span>
      </p-button>
      <p-button icon="material-icons account_circle" styleClass="p-button-rounded p-button-secondary">
    <span class="material-icons">
      account_circle
    </span>
      </p-button>
    </div>

  </div>
</p-toolbar>
